<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Confirmare</title>
		<%- include("../fragmente/head") %>
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			<section>
				<h2 style="text-align: center; margin-bottom: 30px;">Confirmare mail</h2>
				<p class="mesaj-succes">Totul a functionat bine!</p>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>