<!DOCTYPE html>
<html lang = "ro">
    <head>
        <title>BikeAddiction</title>
        <meta name="keywords" content="biciclete, piese biciclete, accesorii biciclete, echipamente <b>ciclism</b>"> <!-- de adaugat partea de second-hand, trasee si parteneri de excursie -->
        <meta name="description" content="Aici poti gasi o gama larga de biciclete, piese, accesorii si echipamente destinate acestora la un pret avantajos">
        <%- include("../fragmente/head.ejs"); %>

    </head> 
    <body>
        <%- include("../fragmente/header.ejs") %> 
        <main>
            <section id="sectiune-contact">
                <h2 style="color:black">Informatii contact: </h2>
                <ul>
                    <li><div>Pentru probleme si sugestii legate de functionarea site-ului:</div> 
                        <ul>
                            <li><a href="tel:+40745237023">Telefon</a></li>
                            <li><a href="skype:live:.cid.da81650dcbe93f0e?chat">Skype</a></li>
                            <li><a href="mailto:vladioanbirsan@yahoo.com">Mail</a></li>
                            <li><a href="https://wa.me/+40745237023" target="_blank">WhatsApp</a></li>
                            <li><a href="https://www.bing.com/maps?q=fmi+unibuc+google+maps&qs=n&form=QBRE&msbsrank=0_1__0&sp=-1&pq=fmi+unibuc+google+ma&sc=1-20&sk=&cvid=3BCB27ECBCCA4C11B3F0829776D03688">Sediu</a></li>
                        </ul>
                    </li>
                    <li><div>Locatii service-uri pentru biciclete:</div>
                        <ul>
                            <li><a href="https://www.bing.com/maps?q=fmi+unibuc+google+maps&qs=n&form=QBRE&msbsrank=0_1__0&sp=-1&pq=fmi+unibuc+google+ma&sc=1-20&sk=&cvid=3BCB27ECBCCA4C11B3F0829776D03688">Str. Academiei nr. 14, Bucuresti</a></li>
                            <li><a href="https://www.bing.com/maps?q=fmi+unibuc+google+maps&qs=n&form=QBRE&msbsrank=0_1__0&sp=-1&pq=fmi+unibuc+google+ma&sc=1-20&sk=&cvid=3BCB27ECBCCA4C11B3F0829776D03688">Str. Academiei nr. 14, Bucuresti</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </main>
        <%- include("../fragmente/footer.ejs") %> 
    </body>
</html>
