<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="BikeAddiction - înregistrare utilizatori.">
        <meta name="keywords" content="BikeAddicton, inregistrare, utilizatori">
        <title>BikeAddiction - înregistrare </title>
        <%- include("../fragmente/head") %>     
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Sign In</h2>
            <% if(!locals.utilizator){ %>
                <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
                    <p>
                        <label>
                            Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
                        </label>
                    </p>
                    <p>
                        <label>
                            Parola: <input id="parl" type="password" required  name="parola" value="">
                        </label>
                    </p>
                    <p><input type="submit" value="Sign In"></p>
                </form>
            <% } %>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    

</body>
</html>