<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="BikeAddiction - Logout">
        <meta name="keywords" content="BikeAddiction, logout">
        <title>BikeAddiction - logout </title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <p class="mesaj-succes"><%- locals.raspuns %></p>
        </section>
    </main>

    <%- include('../fragmente/footer') %>

</body>
</html>