#display-font-awesome {
	display: inline;
}
#display-text {
	display: none;
}

#hamburger {
	display: block;
	height: var(--inaltime-meniu);
}
ul.meniu {
	display: none;
	position: absolute;
	width: 100%;
}

#ch-meniu:checked + ul.meniu {
	display: block;
	z-index: 2;
	position: relative;
	transform-origin: 0 0;
	animation-name: aparitie_meniu;
	animation-iteration-count: 1;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

#ch-meniu:checked + ul.meniu > li > a {
	z-index: 2;
	position: relative;
	transform-origin: 50% 50%;
	animation-name: aparitie_meniu_btn;
	animation-iteration-count: 1;
	animation-duration: 0.75s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

nav ul.meniu li {
	width: 100%;
}

nav ul.meniu > li ul {
	position: absolute;
	width: 100%;
	z-index: 200;
	transform: scale(1, 1);
}

#ch-meniu:checked + ul.meniu > li > ul.submeniu {
	position: relative;
	z-index: 200;
}
nav ul.meniu > li a {
	transition: all 0.5s linear;
}
nav ul.meniu > li a:hover {
	background-color: var(--color6);
	color: var(--color4);
}

nav ul.meniu > li:hover > ul {
	z-index: 200;
	animation: none;
}

#ch-meniu:checked + ul.meniu > li:hover > ul.submeniu > li:hover > ul.submeniu {
	display: block;
	position: relative;
	z-index: 300;
	left: 0;
	top: 0;
}

@keyframes aparitie_meniu {
	0% {
		opacity: 0;
		transform: rotate(-90deg);
	}
	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}
@keyframes aparitie_meniu_btn {
	0% {
		transform: scale(0, 0);
	}
	100% {
		transform: scale(1, 1);
	}
}
