<footer>
    <section  id="contact" class="sectiune-footer">
        <h2>Contact:</h2>
        <address>
            <a href="tel:+40745237023"><span class="fas fa-mobile-alt" style="margin-left: 0;"></span></a>
            <a href="https://www.bing.com/maps?q=fmi+unibuc+google+maps&qs=n&form=QBRE&msbsrank=0_1__0&sp=-1&pq=fmi+unibuc+google+ma&sc=1-20&sk=&cvid=3BCB27ECBCCA4C11B3F0829776D03688"><span class="fas fa-map-marker-alt"></span></a>
            <a href="mailto:vladioanbirsan@yahoo.com"><span class="fas fa-envelope"></span></a>
            <a href="https://wa.me/+40745237023" target="_blank"><span class="fab fa-whatsapp"></span></a>
            <a href="skype:live:.cid.da81650dcbe93f0e?chat"><span class="fab fa-skype fa-spin"></span></a>
        </address>
    </section>
    <section id="informatii" class="sectiune-footer">
        <div>
            <h2>Informatii:</h2>
            <ul>
                <li><a href="resurse/documente/GDPR.pdf" download="GDPR.pdf">GDPR: Drepturile Consumatorului (descarca document)</a></li>
                <li><a href="metodePlata.html">Metode de plata</a></li>
                <li><a href="https://anpc.ro/" target="_blank">ANPC</a></li>
                <li><a href="/terms">Termeni si conditii</a></li>
                <li><a href="/privacy">Politica de confidentialitate</a></li>
            </ul>
        </div>
    </section>
    <section id="copyright" class="sectiune-footer">
        <p><small>Copyright &copy;2022BikeAddiction</small><time datetime="2022-02-19T18:25:10+03:00"> </time></p>
    </section>
    <section id="sectiune-cookie">
        <p id="banner-cookie">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok-cookies">Ok</button></p>
    </section>
    <a href="#" title="Mergi sus" id="link-top"><div id="triunghi">&#5123;</div></a>
</footer>