<form class="form-inreg"  method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <div>
        <label for="inp-parl" id="lbl-parl"> Parola*: </label>
        <input id="inp-parl" type="password" required  name="parola" value="">
        
        <p id="buton-stergere">
            <input class="buton" type="submit" value="<%- locals.mesaj %>">
        </p>
    </div>
</form>