<header>
    <h1>BikeAddiction</h1>
</header>
<nav>
    <label id="hamburger" for="ch-meniu">
        <div>
            <div class="bara"></div>
            <div class="bara"></div>
            <div class="bara"></div>
        </div>
    </label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li><a href="/index"><span class="fas fa-home-alt" id="display-font-awesome"></span><span id="display-text">Acasa</span></a><div></div>
            <ul class="submeniu">
                <li><a href="/index#produse">Produse</a></li>
                <li><a href="/index#despre-noi">Despre noi</a></li>
                <li><a href="/index#ajutor">Ajutor</a></li>
                <li><a href="/index#intrebari">Intrebari frecvente</a></li>
                <li><a href="/index#contact">Contact</a></li>
                <li><a href="/index#informatii">Informatii</a></li>
            </ul>
        </li>
        <li><a href="signin.html">Sign In</a><div></div></li>
        <!-- <li><a href="signup.html">Sign Up</a></li> -->
        <li><a href="/contact">Contact</a><div></div></li>
        <li><a href="/produse">Produse</a><div></div>
            <ul class="submeniu">
                <!-- <li><a href="/produse?tip=biciclete">Biciclete</a>
                    <ul class="submeniu">
                        <li><a href="sosea.html">Sosea</a></li>
                        <li><a href="mtb.html"><abbr title="Mountain Bike">MTB</abbr></a></li>
                        <li><a href="trekking.html">Trekking</a></li>
                        <li><a href="electrice.html">Electrice</a></li>
                        <li><a href="bmx.html"><abbr title="bicycle, motocross, with X standing for cross">BMX</abbr></a></li>
                        <li><a href="copii.html">Copii</a></li>
                    </ul>
                </li>
                <li><a href="/produse?tip=piese"><b>Piese</b></a></li>
                <li><a href="/produse?tip=accesorii"><b>Accesorii</b></a></li>
                <li><a href="/produse?tip=echipamente"><b>Echipamente</b></a></li> -->
                <% for(let categProdus of locals.categProduse){ %>
                    <li><a href="/produse?tip=<%- categProdus %>"><%- categProdus[0].toUpperCase() + categProdus.slice(1) %> </a>
                    <% if(categProdus == "biciclete"){ %>   
                        <ul class="submeniu">
                            <li><a href="sosea.html">Sosea</a></li>
                            <li><a href="mtb.html"><abbr title="Mountain Bike">MTB</abbr></a></li>
                            <li><a href="trekking.html">Trekking</a></li>
                            <li><a href="electrice.html">Electrice</a></li>
                            <li><a href="bmx.html"><abbr title="bicycle, motocross, with X standing for cross">BMX</abbr></a></li>
                            <li><a href="copii.html">Copii</a></li>
                        </ul>
                    <% } %>  
                    </li>
                <% } %>  
            </ul>
        </li>
        <li><a href="creeaza-anunt.html">Creeaza anunt</a><div></div></li>
        <li><a href="/galerie">Galerie</a><div></div></li>
    </ul>
</nav>

